.page.theme_dark {
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --btn-color: #ff0070;
  --backgroung-image: url(../../public/images/cover-image-dark.png);
}

.theme_dark .decorative__element {
  display: flex;
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}
