.page.theme_light {
  --title-color: #ffc2e6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
  --backgroung-image: url(../../public/images/cover-image-light.png);
}

.theme_light .decorative__element {
  display: none;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color: #353430;
    --backgroung-image: url(../../public/images/cover-image-light.png);
  }
  .decorative__element {
    display: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
}

@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 #ff0070;
  }
  .footer__title {
    text-shadow: 4px 4px 0 #ff0070;
  }
}
