.questionSectionImage {
  padding-bottom: 60px;
}

.questionSectionTitleImage {
  margin: 0 20px 20px 20px;
}

.questionSectionImageContainer {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-areas: inherit; /* БРАУЗЕРЫ ЕГО ИГНОРЯТ:( */
}

.questionSectionImageItem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.questionSectionImageItem:first-of-type {
  grid-column: 1 / 3;
}

.questionSectionImageItem:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.questionSectionImageItem:nth-of-type(3) {
  grid-row: 2 / 4;
}

.questionSectionImageItem:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.questionSectionImageItem:last-of-type {
  grid-column: 2 / 4;
}

.titleDecor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

/* Адаптивность для мобильных */
@media (max-width: 560px) {
  .questionSectionImage {
    padding: 0 0 40px 0;
  }

  .questionSectionTitleImage {
    margin: 0 10px 10px 10px;
  }

  .questionSectionImageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
  }
}
